{% extends 'login_base.html' %}

{% block content %}

    <div class="wrapper fadeInDown login">
        <div class="login-screen">
            <div class="app-title">
                <h1>Login</h1>
            </div>

            <form method="POST" action="" class="login-form">
              {% csrf_token %}
              <svg xmlns="http://www.w3.org/2000/svg" height="5em" viewBox="0 0 448 512" class="mb-4">
                    <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
              </svg>
                <div class="control-group">
                <input type="text" name="username" placeholder="Username" class="form-control fadeIn second">
                
                </div>

                <div class="control-group">
                <input type="password" name="password" placeholder="Password" class="form-control fadeIn third" >
                </div>   
               
                <input class="btn login_btn" type="submit" value="Login">

            </form>
            {% for message in messages %}
                    <p id="messages">{{message}}</p>
            {% endfor %}            
        
            <div class="pt-8">
                <div class="d-flex justify-content-center links pt-5">
                    Don't have an account? <a href="{% url 'register' %}" class="ml-2">Sign Up</a>
                </div>
            
            </div>
        </div>
    </div>
  

{% endblock content %}